@using HairSalonManyToMany.Models

@{
  Layout = "_Layout";
}

@foreach (Client client in @Model)
{
  <p>@Html.ActionLink(client.FirstName + " " + client.LastName,"Details",new{id = client.ClientId}) : </p>
  <ul>
    @foreach (ClientStylist join in client.Stylists)
    {
      <li>@Html.ActionLink(join.Stylist.LastName + ", " + join.Stylist.FirstName, "Details", "Stylists", new {id =
      join.Stylist.StylistId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a new client", "Create")</p>
