<p>Remove stylist from @Model.FirstName @Model.LastName</p>
@{
  Layout = "_Layout";
}

@model HairSalonManyToMany.Models.Client
@if(@ViewBag.StylistId is SelectList)
{
@using (Html.BeginForm())
{
  @Html.DropDownList("StylistId")
  <input type="submit" value="Go!">
}
}
else
{
<p>You need at least one stylist to remove a stylist</p>
}